.button {
    --size: 100px;
    --color-light: var(--color-yellow);
    --color-dark: var(--color-orange);
    
    appearance: none;
    background-image: linear-gradient(var(--color-dark), var(--color-light));
    border: calc(var(--size) * .04) solid var(--color-dark);
    border-radius: calc(var(--size) / 2);
    box-shadow: inset 0 0 0 calc(var(--size) * .04) var(--color-light);
    color: var(--color-white);
    cursor: pointer;
    font-family: inherit;
    font-size: calc(var(--size) * .6);
    height: var(--size);
    line-height: calc(var(--size) + (var(--size) / 10));
    padding: 0 var(--size);
    position: relative;
    text-align: center;
    text-shadow: 0 0 4px rgba(0, 0, 0, .5);
    width: 100%;
}

.button::after {
    background-color: var(--color-white);
    border-radius: 50%;
    content: '';
    display: block;
    height: calc(var(--size) / 10);
    opacity: .7;
    position: absolute;
    right: 10%;
    top: 12%;
    width: calc(var(--size) / 10);
}

.button::before {
    background-color: var(--color-white);
    border-radius: 50%;
    content: '';
    display: block;
    height: calc(var(--size) / 6);
    opacity: .7;
    position: absolute;
    right: 5%;
    top: 30%;
    width: calc(var(--size) / 6);
}

.button:hover {
    background-image: linear-gradient(var(--color-light), var(--color-dark));
}
