@keyframes flash {
    0% {
        color: var(--color-white);
    }

    100% {
        color: var(--color-red);
    }
}

.countdown {
    align-items: center;
    color: var(--color-white);
    display: flex;
    font-size: 70px;
    justify-content: space-around;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.countdown.flash .number {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: flash;
}

.number {
    background-image: linear-gradient(var(--color-orange), var(--color-yellow), var(--color-orange));
    border-radius: 10px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    padding: 4px;
    margin: 0 5px;
}

.numberInner {
    background-image: radial-gradient(var(--color-yellow), var(--color-dark-orange));
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    height: 90px;
    line-height: 1;
    padding: 10px;
    text-align: center;
    width: 90px;
}

@media (max-width: 1240px) {
    .countdown {
        font-size: 50px;
    }

    .numberInner {
        width: 60px;
        height: 60px;
        padding: 5px;
    }
}

@media (max-width: 767px) {
    .countdown {
        font-size: 30px;
    }

    .numberInner {
        width: 40px;
        height: 40px;
        padding: 5px;
    }
}
