.admin {
    display: grid;
    grid-template-areas:
        "bingo ranks"
        "shapes balls"
        "users logs";
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    height: 100vh;
    overflow: hidden;
    padding: 30px;
    width: 100%;
}

.bingo {
    grid-area: bingo;
}

.ranks {
    grid-area: ranks;
}

.shapes {
    display: grid;
    grid-area: shapes;
    grid-template-columns: 60px 1fr;
    grid-template-rows: repeat(6, 60px);
    grid-gap: 10px;
}

.shapeWrapper {
    align-items: center;
    display: flex;
}

.logs, .users {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.logs {
    grid-area: logs;
}

.users {
    grid-area: users;
}

.balls {
    grid-area: balls;
}

.gridContent {
    background-color: white;
    height: 100%;
    overflow: auto;
    font-family: monospace;
    margin: 10px;
    padding: 10px;
}

.line {
    margin: 10px 0;
}

.highlight {
    color: #69BE28;
    font-weight: 700;
    text-transform: uppercase;
}

.highlight::before,
.highlight::after {
    content: ' --- ';
}

.highlight .logTime {
    display: none;
}

.logTime {
    color: #999;
}

.logTime::after {
    content: ' - ';
}

.formBlock {
    color: var(--color-white);
    margin-bottom: 100px;
}

.title {
    color: var(--color-white);
}

.input {
    border: 2px solid #69BE28;
    border-radius: 4px;
    box-sizing: border-box;
    color: #69BE28;
    height: 40px;
    margin-right: 5px;
    padding: 20px;
    width: 300px;
}

.button {
    background-color: #69BE28;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    height: 40px;
    margin: 0 5px;
    width: 200px;
}

.buttonDecline {
    background-color: var(--color-white);
    color: var(--color-bordeaux);
}

.drawBalls {
    align-items: center;
    color: white;
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(8, 50px);
    margin-top: 50px;
}

.activeRound {
    color: white;
}
