.bingo {
    --height: 330px;

    animation: slide 300ms linear both;
    background-image: linear-gradient(
        var(--color-purple),
        var(--color-pink),
        var(--color-purple)
    );
    border-radius: 0 0 20px 20px;
    box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, .7);
    display: inline-block;
    font-size: 270px;
    font-weight: 900;
    left: 50%;
    line-height: var(--height);
    padding: 8px;
    position: fixed;
    text-align: center;
    text-transform: uppercase;
    transform: translateX(-50%);
    z-index: 100;
}

.secondary {
    --height: 280px;

    background-image: linear-gradient(
        green,
        lightgreen,
        green
    );
    font-size: 190px;
}

.secondary .bingoInner {
    background-image: radial-gradient(lightgreen, green);
    border-bottom: 1px solid lightgreen;
    width: 800px;
}

.bingoInner {
    --offset: 0;
    --size: 0;
    --spacing: 0;

    background-image: radial-gradient(var(--color-pink), var(--color-purple));
    border-bottom: 1px solid var(--color-pink);
    border-radius: 0 0 20px 20px;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
    height: var(--height);
    padding: 0 30px;
    position: relative;
    width: 1000px;
}

.bottom {
    box-sizing: border-box;
    display: flex;
    left: var(--offset);
    justify-content: space-around;
    padding: 0 var(--spacing);
    position: absolute;
    right: var(--offset);
}

.bottom {
    bottom: var(--offset);
}

.left,
.right {
    bottom: var(--offset);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: var(--offset);
}

.left {
    left: var(--offset);
}

.right {
    right: var(--offset);
}

.letter {
    display: inline-block;
    position: relative;
}

.bulb {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    background-image: linear-gradient(to left, #ffffce, #eee472);
    box-shadow: 0 0 5px #eee472;
    border-radius: 50%;
    height: var(--size);
    width: var(--size);
}

.bulb:nth-child(5n + 2) {
    animation-delay: 0.1s;
}

.bulb:nth-child(5n + 3) {
    animation-delay: 0.2s;
}

.bulb:nth-child(5n + 4) {
    animation-delay: 0.3s;
}

.bulb:nth-child(5n + 5) {
    animation-delay: 0.4s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(1.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes blink {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

@keyframes slide {
    from {
        top: -500px;
    }

    to {
        top: -25px;
    }
}

@media (max-width: 1024px) {
    .bingo {
        line-height: normal;
        width: 600px !important;
    }

    .bingoInner {
        width: 100% !important;
        font-size: 120px;
        height: auto !important;
        padding: 40px 20px 20px;
    }
}

@media (max-width: 767px) {
    .bingo {
        width: 100% !important;
    }

    .bingoInner {
        font-size: 70px;
    }
}
