.page {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
        "grid balls logo"
        "grid balls bingo"
        "grid balls bingo"
        "grid balls fam";
    grid-template-columns: auto 66px 440px;
    grid-template-rows: auto auto auto auto;
    margin: 0 auto; 
    padding: 50px 0;
    max-width: 1240px;
}

.hasExtraPrice {
    grid-template-areas:
        "grid balls logo"
        "grid balls bingo"
        "grid balls bingo"
        "extraPrice balls fam";
}

.clickedBingo .bingo {
    display: none;
}

.qrCode {
    align-items: center;
    color: var(--color-white);
    font-size: 21px;
    grid-area: bingo;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.qrCode img {
    border-radius: 10px;
    height: 200px;
    margin-top: 10px;
}

.grid {
    grid-area: grid;
}

.balls {
    grid-area: balls;
}

.logo {
    grid-area: logo;
    text-align: center;
}

.shapes {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(2, 80px);
    grid-gap: 10px;
    justify-content: center;
    margin-bottom: 10px;
}

.logoImage {
    height: 250px;
}

.countdown {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    grid-area: bingo;
    justify-content: flex-end;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.countdown h1 {
    margin: 0;
}

.bingoWrapper {
    width: 100%;
}

.bingo {
    display: flex;
    grid-area: bingo;
}

.fam {
    align-items: flex-end;
    color: var(--color-white);
    display: flex;
    grid-area: fam;
    justify-content: center;
    margin: 0;
    text-align: center;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.extraPrice {
    grid-area: extraPrice;
}

.extraPrice:not(:empty) {
    margin-top: 10px;
}

.bingoBox {
    background: red;
    font-size: 170px;
    height: 220px;
    left: 50%;
    padding: 50px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

@media (max-width: 1293px) {
    .page {
        justify-content: center;
        grid-gap: 20px;
        grid-template-areas: 
            "fam logo logo"
            "bingo extraPrice extraPrice"
            "grid grid balls";
        grid-template-columns: 1fr 220px 66px;
        grid-template-rows: auto;
        padding: 30px;
        box-sizing: border-box;
        width: 800px;
    }

    .logoImage {
        height: 150px;
    }

    .fam {
        margin: 0;
    }

    .grid,
    .balls {
        margin-top: 30px;
    }

    .grid {
        --square-size: 110px;
    }
}

@media (max-width: 767px) {
    .page {
        box-sizing: border-box;
        grid-template-areas: 
            "fam"
            "balls"
            "bingo"
            "extraPrice"
            "grid";
        grid-template-columns: 1fr;
        grid-gap: 10px;
        grid-auto-rows: auto;
        padding: 10px;
        width: 100%;
    }

    .logo {
        display: none;
    }

    .fam {  
        margin-bottom: 0;
    }

    .balls {
        margin-bottom: 20px;
    }

    .extraPrice {
        margin-bottom: 40px;
    }
}
