.admin {
    display: grid;
    grid-template-areas:
        "content logs";
    grid-template-columns: 1fr 450px;
    height: 100vh;
    overflow: hidden;
    padding: 30px;
}

.content {
    grid-area: content;
}

.logs {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    grid-area: logs;
    height: 100%;
    overflow: hidden;
}

.logsContent {
    background-color: white;
    height: 100%;
    overflow: auto;
    padding: 10px;
}

.logLine {
    margin: 10px 0;
}

.logTime {
    color: #999;
}

.logTime::after {
    content: ' - ';
}

.formBlock {
    margin-bottom: 50px;
}

.title {
    color: #69BE28;
}

.input {
    border: 2px solid #69BE28;
    border-radius: 4px;
    box-sizing: border-box;
    color: #69BE28;
    height: 40px;
    margin-right: 5px;
    padding: 20px;
    width: 300px;
}

.button {
    background-color: #69BE28;
    border: 2px solid #69BE28;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    height: 40px;
    width: 200px;
}

.shapes {
    display: flex;
}
