.admin {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formBlock {
    margin-bottom: 50px;
}

.title {
    color: #69BE28;
    text-align: center;
}

.input {
    border: 2px solid #69BE28;
    border-radius: 4px;
    box-sizing: border-box;
    color: #69BE28;
    height: 40px;
    margin-right: 5px;
    padding: 20px;
    width: 300px;
}

.button {
    background-color: #69BE28;
    border: 2px solid #69BE28;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    height: 40px;
    width: 200px;
}
