@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

:root {
    --square-size: 120px;
    
    --color-white: #fff;
    --color-dark-orange: #D08215;
    --color-orange: #E28504;
    --color-yellow: #FEE50C;
    --color-red: #C13035;
    --color-bordeaux: #841918;

    --color-purple: rebeccapurple;
    --color-pink: pink;
}

html,
body {
    font-family: 'Luckiest Guy', cursive;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

input {
    font-family: 'Luckiest Guy', cursive;
}

* {
    box-sizing: border-box;
}


body {
    background-image: radial-gradient(var(--color-red), var(--color-bordeaux));
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 1240px) {
    html,
    body {
        height: auto;
    }
}

#__next {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
