.page {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
        "grid balls logo"
        "grid balls bingo";
    grid-template-columns: auto 66px 1fr;
    grid-template-rows: auto auto;
    margin: 0 auto; 
    max-width: 1200px;
    padding-top: 100px;
}

.grid {
    grid-area: grid;
}

.balls {
    grid-area: balls;
}

.logo {
    grid-area: logo;
}

.bingo {
    grid-area: bingo;
}
