.balls {
    background-image: linear-gradient(var(--color-orange), var(--color-yellow), var(--color-orange));
    border-radius: 33px;
    box-shadow: 0 10px 0 0 rgba(0, 0, 0, .3);
    height: 100%;
    overflow: hidden;
    padding: 8px;
    position: relative;
    width: 66px;
}

.ballsInner {
    align-items: center;
    background-image: radial-gradient(var(--color-red), var(--color-bordeaux));
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    border-radius: 23px;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    position: relative;
    padding: 5px;
    height: 100%;
    max-height: 1000px;
    scrollbar-width: none;
    width: 100%;
}

.ballsInner::-webkit-scrollbar {
    width: 0 !important;
}

.balls::before {
    background-image: 
    linear-gradient(
        240deg, 
        transparent 0%, 
        transparent 50%, 
        rgba(255, 255, 255, .1) 50%,
        rgba(255, 255, 255, .1) 100%
    );
    content: '';
    display: block;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
}

.ball {
    animation: popIn 500ms linear backwards;
    background-image: linear-gradient(var(--color1), var(--color2));
    border-radius: 50%;
    box-shadow: 0 2px var(--color1);
    color: var(--color-white);
    cursor: default;
    flex-shrink: 0;
    height: 40px;
    line-height: 45px;
    margin-bottom: 5px;
    position: relative;
    text-align: center;
    text-shadow: 0 0 4px rgba(0, 0, 0, .5);
    user-select: none;
    width: 40px;
    transition: top 500ms linear;
    position: absolute;
    top: var(--top);
}

.ball1 {
    --color1: #0c7efe;
    --color2: #4b9ffe;
}

.ball2 {
    --color1: red;
    --color2: #ec9090;
}

.ball3 {
    --color1: #dfddcc;
    --color2: var(--color-white);
    text-shadow: none;

    color: black;
}

.ball4 {
    --color1: green;;
    --color2: #00ce00;
}

.ball5 {
    --color1: var(--color-yellow);
    --color2: var(--color-orange);
}

@keyframes popIn {
    0% {
        transform: translateY(-100px)
    }

    100% {
        transform: translateY(0);
    }
}

@media (max-width: 767px) {
    .balls {
        min-height: 65px;
        width: 100%;
    }

    .ballsInner {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(5, 1fr);
        max-height: 100px;
    }

    .ball {
        position: relative;
        top: 0;
        margin-bottom: 0;
    }
}
